.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-container div {
  width: 40%;
  background-color: aquamarine;
}
.result-container h5 {
  width: 50%;
  height: 2px;
}
